body {
    background-color: rgb(179, 124, 230);

}
.calc_simples {
background-color:rgb(206, 2, 128) ;
padding: 35px;
width: 200px;
border-radius: 5px;
height: 200px;

}
.display_simples{
background-color: rgb(45, 4, 83);
width: 100%;
text-align: center;
}
#resultado{
    background-color: blue;
    width: 100%;
    text-align: center ;

}
.btn{
    text-align: center;
    padding: 5px;
}
button{
    width: 40px;
    height: 40px;
    padding: 2px;
}