body{
    background-color: rgb(189, 121, 107);
}
.calc_simples{
    background-color: rgb(152, 23, 217);
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}
.entrada{
    width: 48px;
    background-color: rgb(56, 56, 49);
    border: none;
    border-bottom: 2px solid #000;
    text-align: right;
}
.display_simples{
    width: 100%;
    text-align: center;
}
#resultado{
    text-align: center;

}
.teclas{
    text-align: center;
}
button{
    width: 40px;
    height: 40px;
    margin-top: 3px;
}
#igual{
    background-color: rgb(55, 4, 70);
    color: white;
}