body{
    background-color: rgb(182, 129, 14);
}
.calc_simples{
    background-color: rgb(99, 24, 136);
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}
.entrada{
    width: 48px;
    background-color: rgb(107, 142, 189);
    border: none;
    border-bottom: 2px solid #000;
    text-align: right;
}
.display_simples{
    width: 100%;
    text-align: center;
}
#resultado{
    text-align: center;

}
.teclas{
    text-align: center;
}
button{
    width: 40px;
    height: 40px;
    margin-top: 3px;
}
#igual{
    background-color: rgb(88, 0, 139);
    color: rgb(255, 255, 255);
}